:host {
    --dxp-g-brand-1: #303C6C;
    --dxp-c-anchor-text-decoration-hover: none;
}

.mnlk-nav-link:link,
.mnlk-nav-link:visited {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: var(--dxp-g-font-size-7);
    transition: all 0.3s;
}

.mnlk-nav-link:hover,
.mnlk-nav-link:active {
    color: #F4976C;
}