:host {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0, 1fr);

}

.custom-header {
    width: 100%;
    background-color: var(--dxp-g-root);
    min-height: 6.4rem;
}

.custom-footer {
    width: 100%;
    background-color: var(--dxp-g-brand);
    padding-top: 4rem;
}