.navbar {
    /* padding-bottom: 1rem; */
    padding: 0.8rem 3.8rem 1.6rem;
    background-color: var(--dxp-g-brand);
    /* rgb(48, 60, 108); */
}

.navigation-header {
    font-size: var(--dxp-g-font-size-10);
    font-weight: 500;
}

.mnlk-nav-link:link,
.mnlk-nav-link:visited {
    text-decoration: none;
    color: var(--dxp-g-root-contrast-3);
    font-weight: 500;
    font-size: var(--dxp-g-font-size-10);
    transition: all 0.3s;
}

.mnlk-nav-link:hover,
.mnlk-nav-link:active {
    color: var(--dxp-g-brand-1);
}

.mnlk-cta {
    padding: 1.6rem 2.3rem;
}

.hamburger-menu-container {
    background: rgba(45, 57, 48, 0.3);
    min-height: 100%;
    min-width: 100%;
    z-index: 15;
}

.hamburger-menu {
    background: var(--dxp-g-neutral-contrast);
    min-height: 100%;
}

img.hamburger-menu-icon {
    max-width: 3.5rem;
    height: auto;
}

@media (max-width: 480px) {
    .navbar-items {
        font-size: var(--dxp-g-font-size-10);
    }
}