.navbar {
    /* padding-bottom: 1rem; */
    padding: 0 2.4rem 1rem;
    background-color: var(--dxp-g-brand);
    /* rgb(48, 60, 108); */
}

.mnlk-nav-link:link,
.mnlk-nav-link:visited {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: var(--dxp-g-font-size-7);
    transition: all 0.3s;
}

.mnlk-nav-link:hover,
.mnlk-nav-link:active {
    color: #F4976C;
}

.mnlk-cta {
    padding: 1.6rem 3.2 rem;
    border-radius: 9px;
}

.hamburger-menu-container {
    background: rgba(45, 57, 48, 0.3);
    min-height: 100%;
    min-width: 100%;
    z-index: 15;
}

.hamburger-menu {
    background: var(--dxp-g-neutral-contrast);
    min-height: 100%;
}

img.hamburger-menu-icon {
    max-width: 2rem;
    height: auto;
}

@media (max-width: 480px) {
    .navbar-items {
        font-size: var(--dxp-g-font-size-8);
    }
}