.section-projects {
    padding: 9.6rem 0;
    background-color: var(--dxp-g-brand);
    border-radius: 55px;
}

.heading-secondary {
    font-weight: 700;
    color: var(--dxp-g-root);
    letter-spacing: -0.5px;
    font-size: 4.4rem;
    line-height: 1.2;
    padding-bottom: 2.4rem;
    margin-bottom: 7.2rem;
}

.brand-1 {
    color: var(--dxp-g-brand-1);
}

.border-bottom-line--brand {
    border-bottom: 1px solid var(--slds-g-color-brand-base-20);
}

.subheading {
    display: block;
    color: var(--dxp-g-root);
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
}

.all-projects {
    text-align: center;
    font-size: 1.8rem;
}

.link:link,
.link:visited {
    display: inline-block;
    color: var(--dxp-g-root);
    text-decoration: var(--dxp-s-link-text-decoration);
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    transition: var(--dxp-c-link-transition);
}

.link:hover,
.link:active {
    color: var(--dxp-s-button-color);
    border-bottom: 1px solid transparent;
}

/* Below 656px (Phones) */
@media (max-width: 30em) {
    .section-projects {
        padding: 6.4rem 0;
        border-radius: 36px;
    }

    .heading-secondary {
        padding-bottom: 2.4rem;
        margin-bottom: 4rem;
    }
}