.section-hero {
    padding: 9.6rem 0;
}

.hero {
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    align-items: center;
}

.heading-primary {
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.05;
    color: #333;
    letter-spacing: -0.5px;
    margin-bottom: 3.2rem;
}

.orange {
    color: var(--dxp-g-brand-1);
}

.fun-text {
    display: inline-block;
    font-size: 2.5rem;
    margin-bottom: 4.8rem;
    padding: 1rem 1.8rem;
    border-radius: 130px;
    box-shadow: inset 0 0 0 1px #000;
}

.fun-image {
    position: relative;
    width: 23.03px;
    height: 22.51px;
    left: -10px;
    top: -35px;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.btn:link, 
.btn:visited {
    display: inline-block;
    font-size: 2rem;
    font-family: var(--dxp-s-button-font-family);
    font-weight: var(--dxp-s-button-font-weight);
    text-decoration: var(--dxp-s-link-text-decoration);
    padding: 1.4rem 2.8rem;
    border-radius: 150px;

    transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
    background-color: var(--dxp-g-brand-1);
    color: var(--dxp-g-neutral-contrast);
}

.btn--full:hover,
.btn--full:active {
    background-color: #dc8861;
}

.btn--outline:link,
.btn--outline:visited {
    background-color: var(--dxp-g-neutral-contrast);

    /* border: 3px solid #000; */
    box-shadow: inset 0 0 0 2px #000;
}

.btn--outline:hover,
.btn--outline:active {
    background-color: var(--dxp-g-neutral-contrast);
}

.hero-img {
    width: 100%;
}

.margin-right-small {
    margin-right: 1.6rem !important;
}